<!-- <form [formGroup]="optionsForm" (ngSubmit)="submitInfoDevice()">
    <label >
        Nombre:
        <input type="text" formControlName="name">
        <div *ngIf="optionsForm.get('name')?.invalid && isValidFormOptions != null && !isValidFormOptions" [ngClass] = "'error'"> 
            Nombre requerido 
        </div>
    </label>

    <label>
        Numeros:
        <input type="radio" value="Si" formControlName="numbers">Si
        <input type="radio" value="No" formControlName="numbers">No
        <div *ngIf="optionsForm.get('numbers')?.invalid && isValidFormOptions != null && !isValidFormOptions" [ngClass] = "'error'"> 
            Campo requerido 
        </div>
    </label>

    <select formControlName="type">
        <option value="" disabled>Selecciona el tipo de dispositivo</option>
        <option *ngFor="let dev of devices" (change)="changeDevice($event)">{{ dev }}</option>
    </select>
    <div *ngIf="optionsForm.get('type')?.invalid && isValidFormOptions != null && !isValidFormOptions" [ngClass] = "'error'"> 
        Campo requerido 
    </div>

    <button>Subele</button>
</form>

<div *ngFor="let feed of feedbackMessages">
    <p>{{ feed }}</p>
</div>

 Tal vez lo ponga en un componente
<div *ngIf="ready" [ngClass] = "'error'"> 
    <form [formGroup]="deviceForm">

        <select formControlName="devices">
            <option value="" disabled>Selecciona el dispositivo</option>
            <option *ngFor="let dev of dataUser.Devices.Tv" (change)="changeSelectedDevice($event)">{{ dev.Name }}</option>
        </select>

        <button>jja</button>
    </form>

    <button (click)="Onoff()">Encender/Apagar</button>

</div>

<div *ngIf="ready" [ngClass] = "'error'"> 
    <form [formGroup]="dateForm">
        <input type="datetime-local" formControlName="dateOn">
        <input type="number" formControlName="channel">
    </form>

    <button (click)="SchedulerOn()">Programar</button>

</div>

<h1>Favoritos</h1>

<div *ngIf="ready" [ngClass] = "'error'">

    <form [formGroup]="favForm" (ngSubmit)="ChangeFav()">
        <select formControlName="channel">
            <option value="" disabled>Selecciona canal</option>
            <option *ngFor="let fav of dataUser.Favorites" (change)="changeFavorite($event)">{{ fav }}</option>
        </select>

        <label>
            Nuevo Canal:
            <input type="number" formControlName="newchannel">
        </label>
    
        <button>Cambiar</button>
    </form>

    <button (click)="AddFav()">Agregar Canal</button>

</div>
-->
<header class="cabecera">
    <a (click)="changeNameDev()" [routerLink]="['/profile', {outlets: {'secondRouter': ['menu']}}]">
        <img src="../../assets/svg/Home1.svg" alt="">
    </a>
    <!--<img src="../../assets/svg/Menu.svg" alt="Algo anda mal :(" srcset=""> -->

    <div class="selec">
        <p>{{ nameDev }}</p>
        <img src="../../assets/svg/Polygon 1.svg" alt="" srcset=""
        style="margin-left: 0.5rem;">
    </div>

</header>

<!-- <app-menu [userdevices]="dataUser"></app-menu> -->
<div [@triggerName]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet" name='secondRouter'></router-outlet>
</div>