<header>
    <nav>
      <a routerLink="">Inicio</a>
      <a routerLink="login">Login</a>
      <!-- <a href="">Register</a>
      <a href="">Nosotros</a>
      <a href="">Favoritos</a> -->
    </nav>
   <section class="textos-header"> 
     <h1> El mejor control Universal para tu TV</h1>
     <h2> Tan solo con una App en tu dispositivo movil </h2>
    </section>
    <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
  </header>
<main>  
  <section class="contenedor sobre-nosotros">
    <h2 class="titulo">Nuestro Producto</h2>
    <div class="Contenedor-sobre-nosotros">
      <img src="../assets/ausx/assets/images/cliente2.jpeg" alt="" class="imagen-nosotros">
      <div class="contenido-textos">
        <h3><span> 1 </span> El mejor producto</h3>
        <p>Disfrute del entretenimiento con la comodidad y viabilidad de nuestro dispositivo sin sufrir descomposturas.</p>
        <h3><span> 2 </span> La mejor decisión</h3>
        <p>Desde la comodidad de su móvil o sitio web nunca se arrepentirá de utilizar nuestros servicios.</p>   
        </div>
    </div>
  </section>
  <section>
    <div class="portafolio">
      <div class="contenedor">
        <h2 class="titulo">Portafolio</h2>
        <div class="galeria-port">
          <div class="imagen-port">
            <img src="../assets/ausx/assets/images/tv1.jpeg" alt="">
            <div class="hover-galery">
              <img src="../assets/ausx/assets/images/target.png" alt="">
              <p>Nuestro trabajo</p>
            </div>
          </div>
          <div class="imagen-port">
            <img src="../assets/ausx/assets/images/tv2.jpeg" alt="">
            <div class="hover-galery">
              <img src="../assets/ausx/assets/images/target.png" alt="">
              <p>Nuestro trabajo</p>
            </div>
          </div>
          <div class="imagen-port">
            <img src="../assets/ausx/assets/images/tv3.jpeg" alt="">
            <div class="hover-galery">
              <img src="../assets/ausx/assets/images/target.png" alt="">
              <p>Nuestro trabajo</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="clientes contenedor">
    <h2 class="titulo">Que dicen nuestros clientes</h2>
    <div class="cards">
      <div class="card">
        <img src="../assets/ausx/assets/images/cliente1.jpeg" alt="">
        <div class="contenido-texto-card">
          <h4>Carlos Armendariz</h4>
          <p>Me gusta la comodidad de poder manejar mi televisión con mi dispositívo móvil</p>
        </div>
      </div>
      <div class="card">
        <img src="../assets/ausx/assets/images/cliente2.jpeg" alt="">
        <div class="contenido-texto-card">
          <h4>Lorena Chacón</h4>
          <p>La aplicación es muy fácil de usar y muy intuitiva, adiós molestosas pilas!!!</p>
        </div>
      </div>
    </div>
  </section>
  <section class="about-service">
    <div class="contenedor">
      <h2 class="titulo">Nuestros servicios</h2>
      <div class="servicio-cont">
        <div class="servicio-ind">
          <img src="../assets/ausx/assets/images/favoritos1.jpeg" alt="">
          <h3>Flexibilidad</h3>
          <p>La aplicación móvil es de fácil uso y multiplataforma</p>
        </div>
        <div class="servicio-ind">
          <img src="../assets/ausx/assets/images/favoritos2.jpeg" alt="">
          <h3>Interfaz</h3>
          <p>Amigable interfaz y fácil acceso a tus canales favorítos!!!</p>
        </div>
        <div class="servicio-ind">
          <img src="../assets/ausx/assets/images/favoritos3.jpeg" alt="">
          <h3>Economia</h3>
          <p>Olvidate de comprar dispostivos cada vez que se descomponen o estar comprando pilas cada vez que estas se desgastan.</p>
        </div>
      </div>
    </div>
  </section>
</main>

<footer id=ancla>
  <div class="contenedor-footer">
    <div class="content-foo">
      <h4>Telefono</h4>
      <p>614-101-02-03</p>
    </div>
    <div class="content-foo">
      <h4>Email</h4>
      <p>daedca@gmail.com</p>
    </div>
    <div class="content-foo">
      <h4>Ubicación</h4>
      <p>C. Llanura Ocote #14613 Fracc. Monteverde, Chihuahua, Chih.</p>
    </div>
  </div>
  <h2 class="titulo-final">&copy; ||  DAEDCA  || </h2>
</footer>
